body {
  background-color: darkslategrey;
}

.header {
  display: flex;
  align-items: center;
  padding-top: 10px;
}

#artist {
  color: rgb(194, 7, 7);
}

#title {
  color: pink;
  text-align: center;
}

#artistphoto:hover {
  opacity: 55%;
}

.type {
  background-color: gold;
  color: black;
  padding-left: 5px;
  padding-right: 5px;
  text-decoration: underline;
  display: inline;
}

.box {
  background-color: darkmagenta;
  border: 2px solid black;
  padding: 15px;
  /* width: 50%; */
}
.box:hover {
  background-color: rgb(240, 104, 240);
  font-size: larger;
}

.box:hover .type {
  background-color: rgba(100, 86, 2, 0.795);
  font-size: x-small;
}
.box:hover .whoami {
  font-weight: bold;
}
.lyrics {
  padding: 10px;
  text-align: center;
  font-size: larger;
}
